# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Popular Languages
* Commonly Used Libraries
* Data Science Tools
* Arithmetic Expressions
* Code Cells vs. Markdown Cells

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia
8. JavaScript
9. PHP
10. Go
11. Ruby
12. Visual Basic

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn

|Data Science Tools|
|------------------|
|Jupyter|
|Apache Zeppelin|
|R Studio|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is a simple arithmetic expression to multiply then add integers.

(3*4)+5

17

In [1]:
# This will convert 200 minutes to hours by dividing by 60.

200/60

3.3333333333333335

## Author
Erwin Fritz T. dela Rama